<div id="branding_container" class="clearfix container-menu">
	<div class="left-menu">
		<div class="category-group">
			<div data-template="general" class="category">
				<div class="title">
					<i class="fa fa-desktop"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.general }}</span>
				</div>
			</div>

			<div data-template="advanced" class="category">
				<div class="title">
					<i class="fa fa-edit"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.advanced }}</span>
				</div>
			</div>

			<div data-template="templates" class="category">
				<div class="title">
					<i class="fa fa-envelope-o"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.templates }}</span>
				</div>
			</div>

			<div data-template="dns" class="category">
				<div class="title">
					<i class="fa fa-server"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.dnsHelper }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="right-content clearfix">

	</div>
</div>