<div id="lcrrates_container" class="clearfix container-menu">
	<div class="left-menu">
		<div class="category-group">
			<div id="lcrrates" class="category">
				<div class="title">
					<i class="fa fa-book"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.lcrrates }}</span>
				</div>
			</div>
			<div id="currencies" class="category">
				<div class="title">
					<i class="fa fa-money"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.currencies }}</span>
				</div>
			</div>
			<div id="taxes" class="category">
				<div class="title">
					<i class="fa fa-graduation-cap"></i>
					<span class="title-text visible-desktop">{{ i18n.menuTitles.taxes }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="right-content clearfix">

	</div>
</div>
