<div class="grid-row" data-id="{{id}}" data-search="{{name}} {{mailbox}} {{id}} {{friendlyOwnerName}}">
	<div class="vmboxes-cells">
		<div class="settings type grid-cell centered">
			<div class="first-line">
				<i class="icon-telicon-voicemail lager"> {{messages}} </i>
				<span><i class="fa fa-wrench fa_editable"></i></span>
			</div>
                        <div class="second-line">
                                {{mailbox}}
                        </div>
		</div>

		<div class="name grid-cell">
			{{name}}
		</div>

		<div class="owner grid-cell">
			{{friendlyOwnerName}}
		</div>

<!--		<div class="edit grid-cell centered">
			<i class="fa fa-wrench settings"></i>
		</div>
-->	</div>
</div>