<div class="app-content activation-success step-3">
	<i class="fa fa-check-circle-o iconography"></i>
	<h3 class="title">{{i18n.mobileApp.activationSuccess.titles.overview}}</h3>
	<p class="text">{{i18n.mobileApp.activationSuccess.texts.overview}}</p>
	<div class="overview">
		<label for="">{{i18n.mobileApp.activationSuccess.labels.deviceName}} <span>{{device_name}}</span></label>
		<label for="">{{i18n.mobileApp.activationSuccess.labels.deviceMdn}} <span>{{formatPhoneNumber mdn}}</span></label>
		<label for="">{{i18n.mobileApp.activationSuccess.labels.deviceEsn}} <span>{{device.esn}}</span></label>
		<label for="">{{i18n.mobileApp.activationSuccess.labels.zipCode}} <span>{{zip_code}}</span></label>
	</div>
	<h3 class="title">{{i18n.mobileApp.activationSuccess.titles.provisioning}}</h3>
	<p class="text">{{i18n.mobileApp.activationSuccess.texts.provisioning}}</p>
	<button class="monster-button-primary provision-device">{{i18n.mobileApp.activationSuccess.button}}</button>
</div>