<div id="listing_jobs_wrapper">
	<h4>
		{{ i18n.carriers.listingJobs.titleTemplate }} 
		<i class="refresh-list fa fa-refresh monster-blue" data-original-title="{{ i18n.carriers.listingJobs.refreshTooltip }}" data-placement="right" data-toggle="tooltip"></i>
	</h4> 

	<div class="list-jobs-wrapper">
		<div class="list-jobs">
			<div class="create-job">
				<div class="job-wrapper placeholder">
					<div class="create-text">
						<i class="fa fa-plus-circle"></i>
						{{ i18n.carriers.listingJobs.create}}
					</div>
				</div>
			</div>

			<div class="existing-jobs-wrapper">
				
			</div>
		</div>
	</div>
</div>
