<div id="creation_allotments_dialog">
	<form class="form-horizontal" id="form_allotments_creation">
		<legend>{{ i18n.trunksLegend }}</legend>
		<div class="manage-credit-div pull-left">
			<i class="help-popover fa fa-question-circle fa-lg pull-right" data-original-title="{{i18n.balanceTooltip}}" data-placement="top" data-toggle="tooltip"></i>
			<div class="title">{{ i18n.allotmentsTitle }}</div>
			<label class="allow-postpay">{{ i18n.allotmentName }}
				<input name="limits.max_postpay_amount" class="allow-postpay-ckb pull-left" type="text" placeholder="900.00" size="12" value="{{max_postpay_amount}}"/>
			</label>
			<label class="allow-reserve">{{ i18n.allotmentAmount }}
				<input name="reserve_amount" class="allow-reserve-ckb pull-left" type="text" placeholder="5" size="8" value="{{reserve_amount}}"/>
			</label>
			<label class="allow-reserve">{{ i18n.allotmentCycle }}
				<input name="reserve_amount" class="allow-reserve-ckb pull-left" type="text" placeholder="monthly" size="8" value="{{reserve_amount}}"/>
			</label>
			<label class="allow-reserve">{{ i18n.allotmentIncrement }}
				<input name="reserve_amount" class="allow-reserve-ckb pull-left" type="text" placeholder="1" size="8" value="{{reserve_amount}}"/>
			</label>
			<label class="allow-reserve">{{ i18n.allotmentMinimum }}
				<input name="reserve_amount" class="allow-reserve-ckb pull-left" type="text" placeholder="1" size="8" value="{{reserve_amount}}"/>
			</label>
			<label class="allow-reserve">{{ i18n.allotmentNoconsumetime }}
				<input name="reserve_amount" class="allow-reserve-ckb pull-left" type="text" placeholder="0" size="8" value="{{reserve_amount}}"/>
			</label>
			<legend>{{ i18n.allotmentGroupconsume }}</legend>
			<ul class="call-restrictions-list">
				{{#each classifiers}}
				<li class="call-restrictions-element">
					{{#monsterCheckbox this.name}}
						<input type="checkbox" {{#if this.checked}}checked{{/if}} name="limits.call_restriction.{{this.id}}.action" value="inherit" data-id="{{this.id}}" />
					{{/monsterCheckbox}}
					{{#if this.help}}
						<i class="help-popover fa fa-question-circle" data-original-title="{{this.help}}" data-placement="top" data-toggle="tooltip"></i>
					{{/if}}
				</li>
				{{/each}}
			</ul>
		</div>
	</form>

	<div class="dialog-buttons-wrapper">
		<button id="save" class="monster-button monster-button-success">{{ i18n.account. allotments.creationForm.save }}</button>
	</div>
</div>
