<div class="limits-tab-container">
	<div class="clearfix">
		<legend>{{ i18n.trunksLegend }}</legend>
		<div class="trunks-div twoway clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.twowayTrunks }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.twowayTrunkshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.twoway_trunks" class="trunks-value" value="0" />
		</div>

		<div class="trunks-div burst_trunks clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.burstTrunks }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.burstTrunkshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.burst_trunks" class="trunks-value" value="0" />
		</div>

		<div class="trunks-div outbound clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.outboundTrunks }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.outboundTrunkshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.outbound_trunks" class="trunks-value" value="0" />
		</div>

		<div class="trunks-div inbound clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.inboundTrunks }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.inboundTrunkshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.inbound_trunks" class="trunks-value" value="0" />
		</div>

		<div class="trunks-div resource_consuming_calls clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.resourceconsumingCalls }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.resourceconsumingCallshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.resource_consuming_calls" class="trunks-value" value="0" />
		</div>

		<div class="trunks-div calls clearfix pull-left">
			<div class="section-slider clearfix">
				<div class="slider-title">{{ i18n.callsTrunks }}
					<i class="help-popover fa fa-question-circle" data-original-title="{{i18n.callsTrunkshelp}}" data-placement="top" data-toggle="tooltip"></i>
				</div>
				<div class="slider-wrapper">
					<div class="slider-div"></div>
					<div class="slider-value"></div>
				</div>
			</div>
			<input type="hidden" name="limits.calls_trunks" class="trunks-value" value="0" />
		</div>
	</div>
</div>
