<div id="cert_install">
	<div class="clearfix">
	    <div class="entry">
		<div class="entry-inner">
                <video width="700px" poster="apps/auth/style/static/images/kazoo_certprov-{{i18n.defaultLang}}.jpg" controls>
                <source src="apps/auth/style/static/images/kazoo_certprov-{{i18n.defaultLang}}.mp4" type="video/mp4"
                title="{{i18n.login.installcert.certTitle}}" alt="{{i18n.login.installcert.certTitle}}"></video>
			<div class="csc-title">{{i18n.login.installcert.certTitle}}</div>
			<div class="csc-text"> <a href=" {{ i18n.login.certbuttonLink }}">{{i18n.login.installcert.certFirefox}}</a> </div>
			<div class="csc-text"> <a download="{{i18n.login.installcert.certnameWindows}}" href=" {{ i18n.login.certbuttonLinkwin }}">{{i18n.login.installcert.certWin}}</a> </div>
		</div>
	    </div>
	</div>

</div>
